
/* Resources used:
    https://www.youtube.com/watch?v=jPo0mIcNZfM for buttons and flex formatting  */

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(247, 245, 241);
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(80, 80, 80);
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  
}

/* Group Exercise Display */

.class-info-display{
  color:rgb(80, 80, 80);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.info-display {
  color:rgb(80, 80, 80);
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
}

.set-duration{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set-intensity{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.save-button{
  font-size: .8rem;
  font-weight: bold;
  padding: 4px;
  margin: 5px;
  min-width: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(230, 227, 220);
  background-color:rgb(105, 122, 164);
}
.save-button:hover{
  background-color: rgb(230, 227, 220);
  color: rgb(105, 122, 164);
}

/* Duration Exercise Display */
.timer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: -25px;
}

.display {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(94, 94, 94);
  margin-bottom: 5px
}

.controls button{
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(248, 247, 244);
}

.start-button{
  background-color: rgb(132, 153, 206);
}

.start-button:hover{
  background-color: rgb(105, 122, 164);
}

.stop-button{
  background-color: rgb(76, 88, 118);
}

.stop-button:hover{
  background-color:  rgb(47, 54, 73);
}

.resetTime-button{
  background-color: rgb(151, 151, 151);
}

.resetTime-button:hover{
  background-color: rgb(99, 99, 99);
}


/* Repetition Exercise Display */

.rep-counter-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: -10px;
}

.count-display {
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(94, 94, 94);
  margin-bottom: 5px
}

.counter-buttons button {
  font-size: 1rem;
  font-weight: bold;
  padding: 8px;
  margin: 5px;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(248, 247, 244);
}

.increase-count-button{
  background-color: rgb(132, 153, 206);
}

.increase-count-button:hover{
  background-color: rgb(105, 122, 164);
}

.decrease-count-button{
  background-color: rgb(76, 88, 118);
}

.decrease-count-button:hover{
  background-color:  rgb(47, 54, 73);
}

.reset-button{
  background-color: rgb(151, 151, 151);
}

.reset-button:hover{
  background-color: rgb(99, 99, 99);
}

.submit-button {
  font-size: 1rem;
  font-weight: bold;
  padding: 8px;
  margin: 5px;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(105, 122, 164);
  background-color:rgb(230, 227, 220);
}
.submit-button:hover{
  background-color: rgb(105, 122, 164);
  color: rgb(230, 227, 220);
}
.selected-exercise{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-buttons {
  font-size: 1rem;
  font-weight: bold;
  padding: 8px;
  margin: 5px;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color:rgb(230, 227, 220);
  color: rgb(105, 122, 164);
}

.menu-buttons:hover {
  background-color: rgb(105, 122, 164);
  color: rgb(230, 227, 220);
}

.tutorial-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(94, 94, 94);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-line: underline;
}